<connectionStrings>
  <add name="MIS442_TMiller" connectionString="Server=turnsol.arvixe.com;Database=MIS442_TMiller; User Id=TMiller;Password=TM6450;" />
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-MIS442Store-20170420061454.mdf;Initial Catalog=aspnet-MIS442Store-20170420061454;Integrated Security=True" providerName="System.Data.SqlClient" /-->
</connectionStrings>